{% extends "layout.html" %}
{% block content %}
    <h1>Мои персонажи:</h1>
    {% for char in chars %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('char', char_id=char.id) }}">{{ char.name }}</a>
            </div>
            <p class="article-content">{{ char.race }}, {{ char.lvlclass }}</p>
              <p class="article-content"><a style="color:deepskyblue" href="{{ url_for('edit_character', char_id=char.id) }}">Редактировать персонажа</a></p>
              <p class="article-content"><a style="color:red" href="{{ url_for('delete_char', char_id=char.id) }}">Удалить персонажа</a></p>
          </div>
        </article>
    {% endfor %}
    <div class="form-group">
        <a class="btn btn-outline-info" href="{{ url_for('new_character') }}">Создать нового персонажа</a>
    </div>

{% endblock content %}