{% extends "layout.html" %}
{% block content %}
    <div class="home-bg">
        <h1>Project Icosahedron - новый способ играть в ролевки.</h1>
        <h3>P.I. - это набор простых в использовании инструметов, которые позволяют расширить возможности в ролевых играх. Не важно, играете ли Вы онлайн на нашем виртуальном столе или вживую, используя наш лист персонажа и приложение по подбрасыванию кубов, P.I. сэкономит Ваше время и поможет Вам сконцентрироваться на том, чтобы сделать любимые моменты в настольных играх ещё лучше.</h3>
    </div>
{% endblock content %}