{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle article-img" src="{{ image_file }}">
            <div class="media-body" >
                <div class="user-profile">
                    <h2 class="account-heading" style="text-align:left;float:left;max-width:33%">{{ user.username }}</h2>
                    {% if user.is_moderator %}
                        <h5 style="color:deepskyblue;text-align:right;float:left;max-width:33%">[МОДЕР]</h5>
                    {% endif %}
                    <hr style="clear:both;"/>
                </div>
                <p class="text-secondary">{{ user.about }}</p>
            </div>
            {% if user.id == you.id %}
   <div class="form-group">
        <a class="btn btn-outline-danger" href="{{ url_for('edit_profile') }}">Редактировать профиль</a>
    </div>
            {% endif %}
        </div>
        <div class="chars">
        <h1>Персонажи игрока {{ user.username }}:</h1>
    {% for char in chars %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('char', char_id=char.id) }}">{{ char.name }}</a>
            </div>
            <p class="article-content">{{ char.race }}, {{ char.lvlclass }}</p>
              {% if you.is_moderator %}<p class="article-content"><a style="color:deepskyblue" href="{{ url_for('edit_character', char_id=char.id) }}">Редактировать персонажа</a></p>{% endif %}
          </div>
        </article>
    {% endfor %}
        </div>
    </div>
{% endblock content %}